
  <mat-form-field>
    <mat-label>Buscador de Digimon</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Inserte el Digimon" #input autocomplete="off">
  </mat-form-field>

<div class="container " >

  <div  class="list" *ngFor="let digimon of data" (click)="getdigimondetail(digimon)"  [dataSource]="datasource" >
    <div class="card"    >
        <div >
            <h2 >{{digimon.name}} </h2>
        </div>
        
        <div class="card__img">
            <img  src="{{digimon.image}}" alt="{{digimon.name}}"   height="100px" width="100px">
        </div>

        <div >
          <h2 >Level: {{digimon.level}}</h2>
      </div>


    </div>
 </div>
 
  </div>
  <mat-paginator [length]="209" [pageSizeOptions]="[5,10,20,40, 50, 100,209]" aria-label="Select page"></mat-paginator>
