
 
<div class="search-digimon">
  <input type="text"  name="Search" [(ngModel)]="searchtext" placeholder="Buscar Digimon por nombre">
</div>

<div class="container " >

  <div  class="list" *ngFor="let digimon of data | paginate: {itemsPerPage:20, currentPage:page, totalitems:totalDigimon}| filter:searchtext" 
  (click)="getdigimondetail(digimon)"  >
    <div class="card"    >
        <div >
            <h2 >{{digimon.name}} </h2>
        </div>
        
        <div class="card__img">
            <img  src="{{digimon.image}}" alt="{{digimon.name}}"   height="100px" width="100px">
        </div>

        <div >
          <h2 >Level: {{digimon.level}}</h2>
      </div>


    </div>
 </div>
 
  </div>
  

  <pagination-controls (pageChange)="page = $event; data= []; getDigimons()"></pagination-controls>
